html {
  touch-action     : manipulation;
}

body {
  background-color : #E1DAC3;
  font-size        : 20px;
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  font-family      : "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
  user-select      : none;
}

h1 {
  font-size        : 24px;
  color            : #000000;
  margin           : 0;
}

#image-container {
  width            : 240px;
  height           : auto;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  overflow         : hidden;
}

img {
  max-width        : 100%;
  max-height       : 100%;
  transform-origin : center;
  cursor           : pointer;
}

.button-container-second {
  padding-top      : 10px;
}

button {
  color            : #FFFFFF;
  background-color : #336633;
  border           : none;
  border-radius    : 0.3rem;
  font-size        : medium;
  width            : 240px;
  padding          : 0.3rem 1rem;
  font-size        : 24px;
}

#kimariji {
  font-size        : 30px;
  font-weight      : bold;
  color            : #E1DAC3;
  margin           : 0;
}

#preload-image {
  display          : none;
}